.container-education {
  background: rgb(255, 224, 241);
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px;

  height: auto;
}

.education-title {
  color: rgb(255, 0, 195);
  font-family: "Pacifico", cursive;
  text-shadow: 0 0 3px #fff, 0 0 20px #fff, 0 0 20px #fff,
    0 0 5px rgb(255, 0, 195), 0 0 5px rgb(255, 0, 195), 0 0 5px rgb(255, 0, 195),
    0 0 5px rgb(255, 0, 195);
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.wrapper-education {
  display: flex;
  flex-direction: column;
}

.wrapper-card-education {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.profession-name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.number-education {
  font-size: 18px;
  font-weight: 900;
  margin-right: 10px;
  color: rgb(255, 0, 195);
}

.p-education {
  font-size: 1.4rem;
  color: #333;
  margin: 0;
  text-align: justify;
}

.p-education-platzi {
  margin-bottom: 15px;
}

.p-program {
  font-weight: bold;
}

.year-education {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #333;
  font-weight: 700;
}

.container-info-platzi {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.image-platzi {
  width: 100px;
  height: auto;
  margin-right: 40px;
}

.wrapper-platzi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: rgb(255, 0, 195);
  font-size: 1.4rem;
}

/* certficate */

.wrapper-certificate {
  max-width: 550px;
}

.certificate-title {
  color: rgb(255, 0, 195);
  font-family: "Pacifico", cursive;
  text-shadow: 0 0 3px #fff, 0 0 20px #fff, 0 0 20px #fff,
    0 0 5px rgb(255, 0, 195), 0 0 5px rgb(255, 0, 195), 0 0 5px rgb(255, 0, 195),
    0 0 5px rgb(255, 0, 195);
  text-align: center;
  margin-bottom: 10px;
}

.certificate-image {
  border-radius: 5px;
}

.certificate-p {
  color: #333;
  text-align: center;
  font-size: 1.2rem;
}

.certificate-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Puedes personalizar estos estilos según tus preferencias */

@media (max-width: 767px) {
  .container-education {
    flex-direction: column;
  }

  .wrapper-education {
    width: 100%;
  }

  .certificate-container {
    width: 100%;
  }
  .education-title {
    font-size: 3rem;
  }
  .certificate-title {
    font-size: 3rem;
  }

  .wrapper-certificate {
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .certificate-image {
    width: 270px;
    height: 170px;
  }

  .wrapper-platzi {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container-education {
    padding-right: none;
  }
  .wrapper-education {
    width: 50%;
  }

  .wrapper-certificate {
    gap: 30px;
  }

  .education-title {
    font-size: 3rem;
  }

  .certificate-title {
    font-size: 3rem;
    margin-top: 0;
  }

  .certificate-container {
    width: 50%;
    padding-left: 20px;
  }

  .certificate-image {
    width: 190px;
    height: 140px;
  }
}

@media (min-width: 1024px) {
  .container-education {
    padding-left: 60px;
  }

  .wrapper-education {
    width: 50%;
  }

  .wrapper-certificate {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .certificate-container {
    width: 50%;
    padding-left: 30px;
  }
  .education-title {
    font-size: 4rem;
  }

  .certificate-title {
    font-size: 4rem;
    margin-top: 0;
  }

  .certificate-image {
    width: 205px;
    height: 140px;
  }
}

@media (min-width: 1366px) {
  .container-education {
    padding-left: 60px;
  }

  .wrapper-certificate {
    gap: 20px;
  }

  .certificate-image {
    width: 250px;
    height: 180px;
  }
}

@media (min-width: 1440px) {
  .container-education {
    padding-left: 60px;
    padding-top: 40px;
  }

  .wrapper-certificate {
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .certificate-image {
    width: 280px;
    height: 180px;
  }
}
