.container-porfolio {
  margin: 40px 20px;
}

.container-cart-porfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.img-proyects-potfolio {
  object-fit: fill;
  border-radius: 10px;
}

.container-cart-proyect-porfolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
}

.container-cart-proyect-porfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  height: auto;
  background-color: #00000084;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .img-proyects-potfolio {
    width: 120px;
    height: 200px;
  }

  .container-cart-proyect-porfolios {
    display: flex;
    flex-direction: column;
    height: 220px;
    gap: 30px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .img-proyects-potfolio {
    width: 180px;
    height: 320px;
  }

  .container-cart-porfolio {
    gap: 50px;
  }
}

@media (min-width: 1024px) {
  .img-proyects-potfolio {
    width: 220px;
    height: 370px;
  }

  .container-cart-porfolio {
    gap: 50px;
  }
}
